<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12  col-lg-12 mx-auto">
            <div class="bg-white shadow rounded py-3 px-4">
                <div class="d-flex justify-content-between align-items-center ">
                    <h1 class="display-4 mb-0">Bandeja de enviados</h1>
                    <a href="#" class="btn btn-primary" href="mail/create">Redactar Mail </a>
                </div>
                <hr>
                <!--  @include('partials.tools') -->
                <p class="lead text-secondary">Mails enviados.</p>
                <hr>
                <ul class="list-group">

                    <li *ngFor="let mail of mails" class="mail-content list-group-item list-group-item-action  mb-3 shadow-sm align-item-center border-0 ">
                        <a class="mail d-flex justify-content-between " href="#">

                            <span class="text-secondary font-weight-bold d-inline name-mail" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                
                                Para: <strong>{{mail.to_email}}</strong>
                            </span>
                            <span class="text-black-50 d-inline content-mail" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <strong>{{mail.asunto}}</strong> - {{mail.contenido}}
                        </span>
                            <span class="text-black-50 d-inline date-mail " style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            {{mail.created_at | date}}
                        </span>

                        </a>

                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>